name: 'CI'

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        eask_version: [0.9.5, snapshot]

    steps:
    - uses: actions/checkout@v6

    - uses: ./
      with:
        version: ${{ matrix.eask_version }}

    - name: Check Eask version
      run: eask --version
